<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="segment">
    
    <ion-segment-button value="user">
      User Info
    </ion-segment-button>
    <ion-segment-button value="card">
      Card Info
    </ion-segment-button>
    <ion-segment-button value="change">
      Change Password
    </ion-segment-button>

  </ion-segment>


  <div [ngSwitch]="segment">
    <ion-card *ngSwitchCase="'user'">
      <ion-card-header>
        User Info
      </ion-card-header>
      <ion-card-content>
        Your user info content here
      </ion-card-content>
    </ion-card>
  
    <ion-card *ngSwitchCase="'card'">
      <ion-card-header>
        Card Info
      </ion-card-header>
      <ion-card-content>
        Your card info content here
      </ion-card-content>
    </ion-card>

    <ion-card *ngSwitchCase="'change'">
      <ion-card-header>
        Change Password
      </ion-card-header>
      <ion-card-content>
        Your change password form here
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button (click)="play()">play</ion-button>
  <ion-button size="small" color="secondary" (click)="animation()">animation</ion-button>
</ion-content>
